.Slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  align-items: center;
}

.Range {
  appearance: none;
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  margin-left: 2rem;
  height: 11rem;
}

.div1 {
  grid-area: 1 / 1;
}

.div2 {
  grid-area: 7 / 1 / 7;
}

.div3 {
  grid-area: 2 / 1 / 7;
  display: flex;
  flex-direction: column;
}

.div4 {
  grid-area: 2 / 1 / 7 / 2;
}

.div3 label {
  padding-bottom: 1rem;
}
