* {
  margin: 0;
  padding: 0;
}

/*Component Header*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.header img {
  width: 3rem;
}

.header h1 {
  color: #dec439;
  flex-grow: 1;
  text-align: center;
}

/*Page Home*/
.Home {
  h2 {
    text-align: center;
    color: #dec439;
    padding: 10%;
    margin-top: 6rem;
  }
}

/*Page SignIn*/
.Sign {
  .bouton {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
