/*Page SignIn*/
.Home {
  .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
  }
}

/*Page Profil*/
@media screen and (min-width: 710px) {
  .profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    .informations {
      .userInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
      }
    }
    .title {
      font-size: 2rem;
    }
    .title:hover {
      color: whitesmoke;
    }
  }
}
