* {
  margin: 0;
  padding: 0;
}

/*Component Header*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.header img {
  width: 3rem;
}

.header h1 {
  color: #dec439;
  flex-grow: 1;
  text-align: center;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  margin: auto;
}
