* {
  margin: auto;
  padding: 0;
  margin: 0;
}

/*Component Header*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.header img {
  width: 3rem;
}

.header h1 {
  color: #dec439;
  flex-grow: 1;
  text-align: center;
}

/*Page Home*/
.sign h2 {
  text-align: center;
  color: #dec439;
  padding: 2rem;
  margin-top: 5rem;
}

/*Page SignIn*/

.bouton {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.PresInscip {
  text-align: center;
  padding: 5rem;
}

.Inscription {
  text-align: justify;
  line-height: 5;
}

.taste-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.taste-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #eaeaea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.taste-buttons button.selected {
  background-color: green;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .taste-buttons {
    flex-direction: column;
    align-items: center;
  }

  .taste-buttons button {
    margin-bottom: 10px;
  }
}

/*Component Questionnaire*/

.QuestionnaireChoix {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding-bottom: 0.2rem;
  margin: 0.1rem;
}

.Questionnaire {
  margin: 0.5rem;
  border: 3px solid #dec439;
  background-color: #ffffff;
  border-radius: 2rem;
  padding-left: 2rem;
}

.Questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem;
  column-gap: 1rem;
}

.QuestionnaireButton {
  border-radius: 2rem;
  background-color: transparent;
  border: 2px solid #dec439;
  padding: 0.5rem;
  margin: 0.3rem;
  margin-right: 2.7rem;
}

.QuestBut {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed #000000;
}

.Questionnaire h2 {
  margin-top: 1rem;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: center;
}

.titre {
  padding: 0.8rem;
}

.QuestionnaireImage {
  width: 3rem;
}

/*Component FourGlass*/

.title_4glasses {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.glasses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.glasses img {
  height: 150px;
  margin: auto;
}

.glasses figcaption {
  text-align: center;
}

/* MODE TABLETTE portrait | Component FourGlass */

@media screen and (min-width: 768px) and (max-width: 900px) {
  .title_4glasses {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: xx-large;
  }

  .glasses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .glasses img {
    height: 300px;
    margin: auto;
  }

  .glasses figcaption {
    text-align: center;
    font-size: xx-large;
  }
}

.glasses figure {
  border: 6px solid #cec1c1;
}

/* TABLETTE EN MODE PAYSAGE | Component FourGlass */

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .title_4glasses {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: xxx-large;
  }

  .glasses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .glasses img {
    height: 300px;
    margin: auto;
  }

  .glasses figcaption {
    text-align: center;
  }
}

.glasses figure {
  border: 6px solid #cec1c1;
}

@media screen and (min-width: 1024px) {
  .title_4glasses {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: xxx-large;
  }

  .glasses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 20px;
  }

  .glasses img {
    height: 300px;
    margin: auto;
  }

  .glasses figcaption {
    text-align: center;
    font-size: xx-large;
  }
}
